[submodule "deps/rust-sgx-sdk"]
	path = deps/rust-sgx-sdk
	url = https://github.com/baidu/rust-sgx-sdk
	branch = master
[submodule "deps/xmas-elf"]
	path = deps/xmas-elf
	url = https://github.com/occlum/xmas-elf
	branch = master
[submodule "deps/sefs"]
	path = deps/sefs
	url = https://github.com/occlum/sefs.git
