[submodule "deps/rust-sgx-sdk"]
	path = deps/rust-sgx-sdk
	url = https://github.com/occlum/incubator-teaclave-sgx-sdk.git
[submodule "deps/sefs"]
	path = deps/sefs
	url = https://github.com/occlum/sefs.git
	branch = unionfs
[submodule "deps/serde-sgx"]
	path = deps/serde-sgx
	url = https://github.com/occlum/serde-sgx
[submodule "deps/itoa-sgx"]
	path = deps/itoa-sgx
	url = https://github.com/occlum/itoa-sgx
[submodule "deps/serde-json-sgx"]
	path = deps/serde-json-sgx
	url = https://github.com/occlum/serde-json-sgx
[submodule "deps/grpc-rust"]
	path = deps/grpc-rust
	url = https://github.com/stepancheg/grpc-rust.git
	branch = v0.7
[submodule "deps/ringbuf"]
	path = deps/ringbuf
	url = https://github.com/agerasev/ringbuf.git
[submodule "deps/resolv-conf"]
	path = deps/resolv-conf
	url = https://github.com/tailhook/resolv-conf.git
