Source: occlum
Section: libs
Priority: optional
Maintainer: Chunyang Hui <sanqian.hcy@antfin.com>
Build-Depends: debhelper (>=9), autoconf, automake, cmake, libtool, ocaml, ocamlbuild, python, libssl-dev, libcurl4-openssl-dev, libprotobuf-dev, git, protobuf-compiler
Standards-Version: 4.1.2
Homepage: https://github.com/occlum/occlum

Package: occlum
Architecture: amd64
Depends: ${misc:Depends}, occlum-sgx-tools (=$OCCLUM_VERSION-1), occlum-pal (=$OCCLUM_VERSION-1), occlum-runtime (=$OCCLUM_VERSION-1), occlum-toolchains-gcc (=$MUSL_VERSION-1)
Description: Occlum is a memory-safe, multi-process library OS (LibOS) for Intel SGX.
 As a LibOS, it enables legacy applications to run on SGX with little or even no modifications of source code,
 thus protecting the confidentiality and integrity of user workloads transparently.

Package: occlum-runtime
Architecture: amd64
Depends: ${misc:Depends}
Description: occlum-runtime contains command for occlum run/exec

Package: occlum-pal
Architecture: amd64
Depends: ${misc:Depends}
Description: occlum-pal is the Platform Abstraction Layer of Occlum enclave.
 It provides interfaces to execute trused applications inside enclave.

Package: occlum-sgx-tools
Architecture: amd64
Depends: ${misc:Depends}
Description: Occlum sgx tools used during `occlum build` and `occlum gdb`
