# MySQL configure file

[client]
socket              =   /tmp/mysql.sock
port                =   3306
bind-address        =   127.0.0.1

[mysqld]
socket              =   /tmp/mysql.sock
port                =   3306
bind-address        =   127.0.0.1
skip-networking     =   0
skip_ssl            =   0
wait_timeout        =   60
interactive_timeout =   120

[mysql]
connect_timeout     =   2
